<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Export terminé - Prêt à télécharger</title>
  </head>
  <body>
    <div>
      <h2>Export prêt à être téléchargé</h2>
      <p>Bonjour {{civility}} {{last_name}} {{first_name}},</p>
      <p>Votre exportation de données a été traitée avec succès et est maintenant prête à être téléchargée.</p>
      <p>Vous pouvez télécharger votre fichier exporté en utilisant le lien ci-dessous :</p>
      <p>
        <a href="{{URL}}" target="_blank">{{URL}}</a>
      </p>
      <p>Si vous n’avez pas demandé cet export, veuillez ignorer cet e-mail.</p>
      <br />
      <p>Merci d’utiliser notre service.<br />— L’équipe de support</p>
    </div>
  </body>
</html>